<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container">
        <a class="navbar-brand" href="">Donor Management System</a>
    </div>
</nav>

<!-- Page Content -->
<div class="container root-container">
    <router-outlet>

    </router-outlet>
    <dms-growl-message></dms-growl-message>
</div>

<!-- Footer -->
<footer class="py-2 bg-inverse">
    <div class="container">
        <p class="m-0 text-white">Copyright &copy; Your Website 2017</p>
    </div>
</footer>