<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            DMS
            <small>Projects</small>
        </h1>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <tr *ngFor="let project of projects">
        <td> {{project.title}} </td> 
        <td> {{project.description}} </td> 
        <td> {{project.startDate}} </td> 
        <td> {{project.endDate}}</td>
    </tr>
</table>
